{% load i18n %}

{% block subject %}
Reestablecer contraseña FUP
{% endblock subject %}

{% block text_body %}
Ha recibido este correo electrónico porque ha solicitado restablecer la contraseña para su cuenta en FUP

Por favor, vaya a la siguiente página y reestablezca su contraseña:
{{ protocol }}://{{ domain }}/{{ url|safe }}

<!-- "Thanks for using our site! -->

El equipo FUP
{% endblock text_body %}

{% block html_body %}
<p>Ha recibido este correo electrónico porque ha solicitado restablecer la contraseña para su cuenta en FUP</p>

<p>Por favor, vaya a la siguiente página y reestablezca su contraseña:</p>
<a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">Reestablecer contraseña</a>
<!-- <p>{% trans "Your username, in case you've forgotten:" %} <b>{{ user.get_username }}</b></p> -->

<p>Gracias por visitarno</p>

<p>El equipo FUP</p>
{% endblock html_body %}
